@use 'dev/variables' as *;

//  Box sizing rules 
*,
*::before,
*::after {
  box-sizing: border-box;
}

//  Remove default padding 
ul,
ol {
  padding: 0;
}

//  Remove default margin 
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

//  Set core body defaults 
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: $gray-dark;
  display: flex;
  flex-direction: column;
  max-height: calc(var(--vh, 1vh) * 100); // fix height on mobile
}

//  Remove list styles on ul, ol elements
ul,
ol {
  list-style: none;
}

//  Make images easier to work with 
img {
  max-width: 100%;
  display: block;
}

//  reset inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

// hide -webkit-search-decoration on safari
input[type="search"]::-webkit-search-decoration {
  display: none;
}


button,
input[type="button"],
input[type="submit"]
{
  cursor: pointer;
}

//  Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

label {
  cursor: pointer;
}