// Utility Classes
// _______________________________________________

// Imports
// -----------------------------------------------
@use "dev/breakpoints" as *;
@use "dev/functions" as *;
@use "dev/variables" as *;

// Layout
// -----------------------------------------------
.container {
  width: 100%;
  margin: 0 auto;
  @include sm {
    max-width: $sm;
  }
  @include md {
    max-width: $md;
  }
  @include lg {
    max-width: $lg;
  }
  @include xl {
    max-width: $xl;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}

@for $i from 0 through 5 {
  .z-#{$i * 10} {
    z-index: $i * 10;
  }
}

// Sizing
// -----------------------------------------------
.h-0 {
  height: 0;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}
.min-h-full {
  min-height: 100%;
}
.max-h-full {
  max-height: 100%;
}

.w-full {
  width: 100%;
}
min-w-full {
  min-width: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.h-screen {
  height: 100vh;
  height: stretch;
}
.min-h-screen {
  min-height: 100vh;
  min-height: stretch;
}

.w-screen {
  width: 100vw;
}
min-w-screen {
  min-width: 100vw;
}

.screen {
  height: 100vh;
  width: 100vw;
}

@for $i from 0 through 128 {
  .h-#{$i} {
    height: #{$i/4}rem;
  }

  .min-h-#{$i} {
    min-height: #{$i/4}rem;
  }

  .max-h-#{$i} {
    max-height: #{$i/4}rem;
  }

  .w-#{$i} {
    width: #{$i/4}rem;
  }

  .min-w-#{$i} {
    min-width: #{$i/4}rem;
  }

  .max-w-#{$i} {
    max-width: #{$i/4}rem;
  }
}

// Flexbox
// -----------------------------------------------
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-0-1-auto {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.self-stretch {
  align-self: stretch;
}

.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
// Spacings
// -----------------------------------------------
@for $i from 0 through 32 {
  // margin
  .m-#{$i} {
    margin: #{$i/4}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i/4}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i/4}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i/4}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i/4}rem;
  }

  .mx-#{$i} {
    margin-left: #{$i/4}rem;
    margin-right: #{$i/4}rem;
  }
  .my-#{$i} {
    margin-top: #{$i/4}rem;
    margin-bottom: #{$i/4}rem;
  }

  // negative margin
  .-m-#{$i} {
    margin: -#{$i/4}rem;
  }

  .-mt-#{$i} {
    margin-top: -#{$i/4}rem;
  }
  .-mr-#{$i} {
    margin-right: -#{$i/4}rem;
  }
  .-mb-#{$i} {
    margin-bottom: -#{$i/4}rem;
  }
  .-ml-#{$i} {
    margin-left: -#{$i/4}rem;
  }

  .-mx-#{$i} {
    margin-left: -#{$i/4}rem;
    margin-right: -#{$i/4}rem;
  }
  .-my-#{$i} {
    margin-top: -#{$i/4}rem;
    margin-bottom: -#{$i/4}rem;
  }

  // padding
  .p-#{$i} {
    padding: #{$i/4}rem;
  }

  .pt-#{$i} {
    padding-top: #{$i/4}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i/4}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{$i/4}rem;
  }
  .pl-#{$i} {
    padding-left: #{$i/4}rem;
  }

  .px-#{$i} {
    padding-left: #{$i/4}rem;
    padding-right: #{$i/4}rem;
  }
  .py-#{$i} {
    padding-top: #{$i/4}rem;
    padding-bottom: #{$i/4}rem;
  }
}

// margin auto
.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Typography
// -----------------------------------------------
.text-base {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

// Gray
.text-gray-light {
  color: $gray-light;
}
.text-gray-lighter {
  color: $gray-lighter;
}
.text-gray {
  color: $gray;
}
.text-gray-darker {
  color: $gray-darker;
}
.text-gray-dark {
  color: $gray-dark;
}

// Blue
.text-blue-light {
  color: $blue-light;
}
.text-blue-lighter {
  color: $blue-lighter;
}
.text-blue {
  color: $blue;
}
.text-blue-darker {
  color: $blue-darker;
}
.text-blue-dark {
  color: $blue-dark;
}

// White
.text-white {
  color: white;
}

.leading-none {
  line-height: 1;
}
.leading-normal {
  line-height: 1.5;
}
.leading-loose {
  line-height: 2;
}

.no-underline {
  text-decoration: none;
}

// Backgrounds
// -----------------------------------------------

// White
.bg-white {
  background-color: white;
}

// Gray
.bg-gray-light {
  background-color: $gray-light;
}
.bg-gray-lighter {
  background-color: $gray-lighter;
}
.bg-gray {
  background-color: $gray;
}
.bg-gray-darker {
  background-color: $gray-darker;
}
.bg-gray-dark {
  background-color: $gray-dark;
}

// Blue
.bg-blue-light {
  background-color: $blue-light;
}
.bg-blue-lighter {
  background-color: $blue-lighter;
}
.bg-blue {
  background-color: $blue;
}
.bg-blue-darker {
  background-color: $blue-darker;
}
.bg-blue-dark {
  background-color: $blue-dark;
}

// Border
// -----------------------------------------------
.border-none {
  border-style: none;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-b {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}

// Effects
// -----------------------------------------------

.shadow {
  box-shadow:
  0 0.175rem 0.1375rem rgba(0, 0, 0, 0.036),
  0 0.41875rem 0.33125rem rgba(0, 0, 0, 0.043),
  0 0.78125rem 0.625rem rgba(0, 0, 0, 0.06);
}
.shadow-md {
  box-shadow:
          0 0.175rem 0.1375rem rgba(0, 0, 0, 0.03),
          0 0.41875rem 0.33125rem rgba(0, 0, 0, 0.036),
          0 0.78125rem 0.625rem rgba(0, 0, 0, 0.043),
          0 1.39375rem 1.11875rem rgba(0, 0, 0, 0.06);
}
.shadow-lg {
  box-shadow:
          0 0.175rem 0.1375rem rgba(0, 0, 0, 0.024),
          0 0.41875rem 0.33125rem rgba(0, 0, 0, 0.03),
          0 0.78125rem 0.625rem rgba(0, 0, 0, 0.036),
          0 1.39375rem 1.11875rem rgba(0, 0, 0, 0.043),
          0 2.6125rem 2.0875rem rgba(0, 0, 0, 0.06);
}
.shadow-xl {
  box-shadow:
          0 0.175rem 0.1375rem rgba(0, 0, 0, 0.017),
          0 0.41875rem 0.33125rem rgba(0, 0, 0, 0.024),
          0 0.78125rem 0.625rem rgba(0, 0, 0, 0.03),
          0 1.39375rem 1.11875rem rgba(0, 0, 0, 0.036),
          0 2.6125rem 2.0875rem rgba(0, 0, 0, 0.043),
          0 6.25rem 5rem rgba(0, 0, 0, 0.06);
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-auto {
  overflow: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}

// Interactivity
// -----------------------------------------------

.cursor-pointer {
  cursor: pointer;
}